*{
    margin: 0 auto;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.design{
    width: 55%;
    height: fit-content;
    border: 1px solid black;
    background-color:azure;
    padding: 30px;
}
h1{
    margin-bottom: 15px;
}
h4{
    font-weight: 300;
    margin: 5px 0;
}
fieldset{
    background-color:aquamarine;
    padding: 10px;
    margin-top: 10px;
}
input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 2px;
    border: 1px solid black;
    margin: 5px 0;
}
legend{
    margin-left: 5px;
}
.inline{
    display: inline;
    width: 48% !important;
    margin: 5px 5px;
}