.c-bg{
    background-color: #F7F6EB;
}
.c-bg-1{
    background-color: #101828;
}
/* .c-wid{
    width: 25rem;
}
.c-widd{
    width: 35rem;
} */
.hightt{
    width: 100vw;
    height: 100vh !important;
}
.c-shadow{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.368);
}
.fm{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cursor{
    cursor: pointer;
}
.bg-image{
    background-image: url("/src/apps/assets/images/bg1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.back{
    background-color: transparent;
    backdrop-filter: blur(20px);
}
.fs-7{
    font-size: 90px;
}
.c-font-gr{
    background: linear-gradient(aqua,yellow);
    color: transparent;
    -webkit-background-clip: text;

}
.hight{
    height: 100vh;
}
.width{
    width: 60px;
}
.c-bg-3{
    background-color:cornflowerblue;
}
.c-bg-4{
    background-color:rgba(100, 148, 237, 0.753);
}
.abc{
    scale: 0.9;
    transition: 0.3s ease;
}
.abc:hover{
    color: black !important;
    scale: 1;
    cursor: pointer;
}
.pro{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.c-pointer:hover{
    cursor: pointer;
    opacity: 100% !important;
}
.mtt{
    margin-top: 85vh;
}