.c-bg{
    background-color: #F7F6EB;
}
.c-wid{
    width: 25rem;
}
.hightt{
    width: 100vw;
    height: 100vh !important;
}
.c-shadow{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.368);
}
.fm{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cursor{
    cursor: pointer;
}